<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <span data-feather="home"></span>
                    Home <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/areas/admin">
                    <span data-feather="edit"></span>
                    Администрирование мусорных площадок
                </a>
            </li>
        </ul>
        
        <div class="px-3 mt-4 mb-1">

            <h6 class="sidebar-heading text-muted">
                <span>Фильтры</span>
            </h6>

            <h6 class="sidebar-filter">
                <span>Наполненность:</span>
            </h6>

            <button class="btn btn-sm btn-outline-secondary">Применить</button>
            <button class="btn btn-sm btn-outline-secondary">Сбросить</button>

        </div>
    </div>
</nav>