@{
}

<link href="~/css/ModalWindow.css" rel="stylesheet">
<div class="modal fade" id="truckSelectorModal" tabindex="-1" role="dialog" aria-labelledby="ReportWindow" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content Window">
            <div class="modal-header modalHeadStyle">
                <h3 class="modal-title">Выберите спец. технику для вывоза ТБО</h3>
            </div>
            <div class="modal-body">
                <div id="trackSelectorTable"></div>
            </div>
            <div class="modal-footer modalFootStyle">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="getSelectedTruck()">Выбрать</button>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>*@
            </div>
        </div>
    </div>
</div>

