@model IEnumerable<SmartTrash.Models.GarbageTruck>

@{ 

}

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Номер</th>
            <th>Модель</th>
            <th>Объём, л.</th>
        </tr>
    </thead>
    <tbody>
@{ var i = 1; }
@foreach(var item in Model) {
    <tr class="truckItem-@i">
        <td>
            <input type="radio" name="choosedTruck" />
        </td>
        <td class="truckNumberPlate">
            @Html.DisplayFor(modelItem => item.NumberPlate)
        </td>
        <td class="truckModel">
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td class="truckVolume">
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td class="truckCost">
            @Html.DisplayFor(modelItem => item.MaintananceCostFactor)
        </td>
    </tr>
    i++; 
}
    </tbody>
</table>
