@model SmartTrash.Models.GarbageTruck

@{
    ViewData["Title"] = "Добавление спец. техники";
}

<h2>Create</h2>

<h4>GarbageTruck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberPlate" class="control-label">Регистрационный номер</label>
                <input asp-for="NumberPlate" class="form-control" />
                <span asp-validation-for="NumberPlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Модель</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label">Объём кузова с учётом уплотнения л.</label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintananceCostFactor" class="control-label">Стоимость обслуживания в рублях на км. пути</label>
                <input asp-for="MaintananceCostFactor" class="form-control" />
                <span asp-validation-for="MaintananceCostFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться</a>
</div>

