@model SmartTrash.Models.GarbageTruck

@{
    ViewData["Title"] = "Удаление спец. техники";
}

<h2>Удаление спец. техники</h2>

<h3>Вы уверены что хотите удалить выбранную спец. технику?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Регистрационный номер
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberPlate)
        </dd>
        <dt>
            Модель
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            Объём кузова с учётом уплотнения л.
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt>
            Стоимость обслуживания (руб. на км. пути)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintananceCostFactor)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
